body{
    background: url(../img/bgHero\ 1.png), lightgray 50% / cover no-repeat;color: #000;
    background-repeat: no-repeat;
   
    
    
    
   

}
.logo{
    width: 150px;
    height: 69.7px;
    top: 120.25px;
    left: 361.98px;
    flex-shrink: 0;
    margin: 50px;
    

}

   

.titulo{
    color: #fff;
    width: 692px;
    height: 176px;
    top: 259px;
    left: 362px;
    flex-shrink: 0;
    font-family: Libre Franklin;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60.6px;
    margin: 50px;
}

.paragrafo{
    color: rgba(255,255,255, 0.75);
    font-family:Libre Franklin ;
    font-size: 26px;
    font-style:normal;
    font-weight:400;
    line-height:150%;
    width: 662px;
    height: 84px;
    flex-shrink: 0;
    margin: 50px;
}
.button{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 60px;
    background: linear-gradient(90deg,#d91149 23.53%,#4f1941 99.97% );
    margin: 50px;
}
.dentro{
    color: #fff;
    font-family:Libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}
.inferior{
    width: 599px;
    height: 233.5px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #d91149;
    margin: 60px;
}
.subtitulo{
    color: #fff;
    text-align: center;
    font-family:Libre Franklin ;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.segundo{
    color: #d91149;
    font-family:Libre Franklin ;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
}
.box{
    width: 996px;
    height: 550px;
    flex-shrink: 0;
    padding: 20px;
    
    margin: 0 auto;
    border-radius: 20px;
    border: 3px solid  rgba(217,17,73, 0.25);
    background: #000;

}
.boxx{
    width: 80px;
    height: 20px;
    border-radius: 20px;
    background: rgba(217,17,73, 0.15);
    margin-top: 10px;
}
.eclipse4{
width: 18px;
height: 18px;
float: right;
margin: -22px;
margin-right: 5px;

}
.eclipse3{
    width: 18px;
    height: 18px;
    float: right;
    margin:-22px;
    margin-right: 28px;
}
.eclipse2{
    width: 18px;
    height: 18px;
    float: right;
    margin:-22px;
    margin-right: 50px;
}
.conteiner{
    width: 387px;
    height: 387px;
    border-radius: 15px ;
    background: rgba(41,9,46, 0.60);
    backdrop-filter: blur(7.5px);
  
    float: right;
    margin-right: -100px;
    margin-top: 35px;
   
}
.container{
    width: 387px;
    height: 387px;
    border-radius: 15px ;
    background: rgba(41,9,46, 0.60);
    backdrop-filter: blur(7.5px);
  
    float: right;
    margin-right: 20px;
    margin-top: 35px;
   
}
.containerr{
    width: 387px;
    height: 387px;
    border-radius: 15px ;
    background: rgba(41,9,46, 0.60);
    backdrop-filter: blur(7.5px);
  
    float: left;
   margin-left: -100px;
   margin-top: 35px;

    
}
.bordass{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217,17,73, 0.70);
    backdrop-filter: blur(7.5px);
    margin: 0 auto;
    margin-top: 15px;
}
.bordasss{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217,17,73, 0.70);
    backdrop-filter: blur(7.5px);
    margin: 0 auto;
    margin-top: 15px;
}
.bordassss{
    width: 357px;
    height: 357px;
    border-radius: 15px;
    border: 1px solid rgba(217,17,73, 0.70);
    backdrop-filter: blur(7.5px);
    margin: 0 auto;
    margin-top: 15px;
}
.back{
    width: 1920px;
    height: 1920px;
    background: #000;
}
.money{
    width: 90px;
    height: 90px;
    margin-top: 68px;
    margin-left: 70px;
    margin-right: 222px;
}
.text-money{
    color: #fff;
    width: 237px;
    height: 77px;
    font-family:Libre Franklin ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 70px;
    margin-top: 30px;
}
.lupa{
    width: 90px;
    height: 90px;
    margin-top: 68px;
    margin-left: 70px;
    margin-right: 222px;
}
.text-lupa{
    color: #fff;
    width: 237px;
    height: 77px;
    font-family:Libre Franklin ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 70px;
    margin-top: 30px;
}
.nuvem{
    width: 90px;
    height: 90px;
    margin-top: 68px;
    margin-left: 70px;
    margin-right: 222px;
}
.text-nuvem{
    color: #fff;
    width: 237px;
    height: 77px;
    font-family:Libre Franklin ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 70px;
    margin-top: 30px;
}
.tituloss{
    width: 426px;
    color: #fff;
    
    font-family:Libre Franklin ;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
    margin-top: -300px;
    margin-right: 690px;
   
   

}
.subtitulos{
    width: 467px;
    height: 48px;
    color: #fff;
    
    font-family:Libre Franklin ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-right: 680px;
    

}
.linhas{
    width: 1920px;
    height: 268px;
    stroke-width: 1px;
    stroke: #d91149;
   margin-top: 30px;
   
    

}
.backk{ 
  margin-top: -650px;
  float: right;
  margin-right: 410px;
  ;

}
.backkk{ 
    margin-top: -650px;
    float: right;
   margin-right: -50px;
  }
  .svg{
    float: right;
    margin-top: -650px;
        margin-right: 380px;
        z-index: 2;
  }
  .ksvg{
    float: right;
    margin-top: -310px;
    margin-right:-119px;}
    .lsvg{
        float: right;
    margin-top: -310px;
    margin-right:301px;
}
.msvg{
    float: right;
    margin-top: -310px;
    margin-right:523px;

}
.lbox{
    width: 387px;
    height: 175px;
    border-radius: 15px;
    border: 1px solid #4f1941;
    
    margin-top: -480px;
    float: right;
    margin-right: -230px;
    z-index: -1;
    
}
.svg3{
    margin-top: -40px;
    margin-left: 198px;

}
.fundo{
    width: 583px;
    height: 175px;
    transform: rotate(-0.541deg);
    flex-shrink: 0;
    border-radius: 583px;
    background: rgba(0,0,0, 0.90);
    filter: blur(50px);
    z-index: 2;
}
.mbox{
    width: 387px;
    height: 175px;
    border-radius: 15px;
    border: 1px solid #4f1941;
    
    margin-top: -480px;
    float: right;
    margin-right: 200px;
    z-index: -1;

}
.nbox{
    width: 387px;
    height: 175px;
    border-radius: 15px;
    border: 1px solid #4f1941;
    
    margin-top: -480px;
    float: right;
    margin-right: 650px;
    z-index: -1;

}
    .text-lbox{
    width: 264px;
    height: 77px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;


    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 60px;
    margin-left: 75px;    
    
    
    }
    .text-mbox{
        width: 264px;
    height: 77px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;


    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin: 0 auto;
    margin-top: 40px;
    }
    .text-nbox{
        width: 264px;
    height: 77px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;


    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin: 0 auto;
    margin-top: 40px;
    }
    
              
    .secodlogo{
        margin-top: -270px;
        margin-left: 550px;

    }
    .box7{
        display: flex;
        width: 1200px;
        padding: 70px 80px 50px 80px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
        margin-top: -1950px;
        height: 100px;
        margin-left: 300px;
}
.text-z{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -50px;
    margin-left: -650px;
}
.text-0{
    color: #FFF;
font-family: Libre Franklin;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 38px;

margin-left: 550px;
margin-top: -65px

}
.fundos{
    width: 1920px;
height: 1920px;
flex-shrink: 0;
background: #270417;
}
.imagem{
    background: url(../img/front.png), #270417 50% / cover no-repeat;
    width: 500px;
    height: 490px;
    flex-shrink: 0;
    margin-left: 325px;
    
    ;
    
    

}
.superior{
    width: 409px;
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1000px;
    margin-top:     -50px;
}
.inferior1{
    color: #FFF;


font-family: Libre Franklin;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-left: 1000px;
margin-top: 8px;
}
.media{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-left: 1000px;
    margin-top: 10px;
}
.baixa{
    color: #FFF;


font-family: Libre Franklin;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-left: 1000px;
margin-top: 10px;
}
.olho{
    background: url(../img/olho.svg);
    width: 113px;
    height: 58.892px;
    flex-shrink: 0;
    margin-left: 700px;
    margin-top: -350px;
}
.front{
    background:#000;
   width: 1920px;
   height: 1920px;
}
.inicio{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50px;
    
}
.meio{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50px;
    
}
.final{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 50px;
    
}
.a{
    width: 692px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-left: 950px;
    margin-top: -20px;
}
.b{
    width: 692px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-left: 950px;
    margin-top: 10px;
}
.c{
    width: 692px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-left: 950px;
    margin-top: 20px;
}
.d{
    width: 692px;
    height: 204px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--Roxo, #120414);
    margin-left: 950px;
    margin-top: 20px;
}
.text-a{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 30px;
}
.text-b{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    
}
.text-c{
    color: #D91149;
    ont-family: Libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.text-d{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.semi-a{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-align: center;
}
.semi-b{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center; 
}
.semi-c{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-align: center;
}
.semi-d{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-align: center;
}
.linhas-a{
    background: var(--Gradient, linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%));
    width: 1920px;
    height: 481px;
    flex-shrink: 0;
}  
.complemento-a{
    width: 1332px;
    height: 1332px;
    flex-shrink: 0;
    border-radius: 1332px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
}
.texto{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top:-400px;
    
}
.box-2{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #FFF;
    height: 22px;
    width: 115px;
    margin-left: 300px;
    margin-top: 40px;
}


.box-4{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #FFF;
    height: 22px;
    width: 115px;
    margin-left: 500px;
    margin-top: -125px;
    height: 22px;
    width: 88px;
}
.box-8{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #FFF;
    height: 22px;
    width: 111px;
    margin-left: 700px;
    margin-top: -45px;
}
.box-5{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #FFF;
    height: 22px;
    width: 142px;
    margin-left: 900px;
    margin-top: -45px;

}
.box-6{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #FFF;
    
    margin-left: 430px;
    margin-top: 40px;
    height: 22px;
    width: 204px;
}
.box-3{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 0.5px solid #FFF;
    
    margin-left: 750px;
    margin-top: 40px;
    height: 22px;
    width: 134px;
}
.text-box-2{
    color: #FFF;
text-align: center;
font-family: Libre Franklin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-box-8{
    color: #FFF;
text-align: center;
font-family: Libre Franklin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-box-4{
    color: #FFF;
text-align: center;
font-family: Libre Franklin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-box-3{
    color: #FFF;
text-align: center;
font-family: Libre Franklin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-box-5{
    color: #FFF;
text-align: center;
font-family: Libre Franklin;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-box-6{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
     font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fundo5{
    background: #000;;
    width: 1920px;
    height: 11293px;
}
.entre{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 60px;
    background: linear-gradient(90deg, #D91149 23.53%, #4F1941 99.97%);
    margin-left: 450px;
}
.entre-text{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    text-transform: uppercase;
}
.entre-button{
    width: 55px;
    height: 35px;
}
.text4{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 300px;
    margin-left: -680px;
}
.text4medio{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 890px;
    margin-top: -45px;
}
.text4line{
    color: rgba(255, 255, 255, 0.60);
    font-family: Libre Franklin;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    text-transform: uppercase;
    margin-left: 480px;
}
.inicial{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 100px;
    margin-left: -1050px;

}
.inicialm{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-left: 620px;
    margin-top: -25px;
}
.finala{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: 150px;
    margin-right: 1340px;
}
.mediom{
    color: #D91149;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 335px;
    margin-top: -25px;

}
.mediop{
    color: #FFF;
    text-align: center;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-top: -40px;
    margin-right: 300px;
    

}
.finalm{
    color: #FFF;
    font-family: Libre Franklin;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-left: 1090px;
    margin-top: -25px;

}





  